.padding-top {
  margin-top: 50px;
}

.profile .left-menu .block {
  margin-bottom: 10px;
}

.profile .left-menu .block .name {
  font-weight: lighter;
  font-size: 18px;
}

.profile .left-menu .block.active a {
  font-weight: normal;
  font-size: 20px;
}

.skills .skill .col {
  margin-bottom: 10px;
}

.point {
  opacity: 0.2;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.point:hover,
.point.active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
